@media screen and (min-width: 740px) {
    body {

        background-color: #ffffff;
        font-family: 'Agbalumo', 'Roboto Slab';
        font-size: 22px;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #177908;
        display: flex;
        padding: 10px;

    }

    footer {
        padding: 10px;
        background-color: #177908;
        color: white;
        text-align: center;
    }

    #lastModified {
        color: #ffffff;
        font-size: 12px;
    }

    nav a {
        text-align: center;
        color: #f8db14;
        text-decoration: none;
        padding: 50px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        padding-left: 200px;

    }

    nav a:hover {
        background-color: #ffffff;
        color: #d90d1c;
    }

    .logo {
        width: 150px;
        border-radius: 8px;
        height: 150px;
        padding-left: 50px;

    }

    .card-img {
        border: 10px solid #09f343;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #023047;
    }

    .appetizer {
        width: 400px;
    }

    .maincourse {
        width: 400px;
    }

    .dessert {
        width: 400px;
    }

    .card-img {
        width: 100%;
    }

    .card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }

    .app {
        background-color: #052cb0;
        text-decoration: none;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 30px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .tara {
        background-color: #052cb0;
        text-decoration: none;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 30px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        color: #ffffff;

    }

    .main {
        background-color: #f8db14;
        text-decoration: none;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 30px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        color: #ffffff;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .des {
        background-color: #d90d1c;
        text-decoration: none;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 30px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        color: #ffffff;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    h2 {
        bottom: 0;
        /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #ffffff;
        /* Grey text */
        width: 90%;
        /* Full width */
        padding: 20px;
        /* Some padding */
        margin-left: 70px;

    }

    h1 {
        display: inline-flex;
        padding-left: 150px;
        padding-top: 15px;
        color: #ffffff;
    }

    .tara {
        text-align: center;
    }

    .home-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    section.msg {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .maincourse {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .appetizer {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 75px;
    }

    .dessert {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}